*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family:"Roboto",sans-serif;
}
.d-flex{
   display: flex;
   justify-content:end;
   align-items: center;
   padding: 60px;
}
.cart-class{
   width:400px;
   height:250px;
   text-align: center;
}
.single{
   width:100%;
   height:85vh;
   display: flex;
   justify-content:center;
   align-items: center;
}
.single-img{
   text-align: center;
}
.single-content{
   padding:30px;
}